In [1]:
import pandas as pd

In [27]:
df = pd.DataFrame({'PW': [11, 12, 13], 'PWIOI': [14, 15, 16]})
df

   PW  PWIOI
0  11     14
1  12     15
2  13     16

In [31]:
df.index = ['a', 'b', 'c']
df

   PW  PWIOI
a  11     14
b  12     15
c  13     16

In [29]:
df.set_index('PW')

    PWIOI
PW
11     14
12     15
13     16

existing data remains same

In [30]:
df

   PW  PWIOI
a  11     14
b  12     15
c  13     16

In [21]:
df.set_index('PW', inplace=True)

In [22]:
df

    PWIOI
PW
11     14
12     15
13     16

Reindexing starts

In [32]:
df

   PW  PWIOI
a  11     14
b  12     15
c  13     16

reindex generates new value and sets it to NaN

In [33]:
df.reindex(['a', 'b', 'c', 'd'])

     PW  PWIOI
a  11.0   14.0
b  12.0   15.0
c  13.0   16.0
d   NaN    NaN

In [34]:
df.reindex(['x', 'y', 'z'])

   PW  PWIOI
x NaN    NaN
y NaN    NaN
z NaN    NaN

In [35]:
# forward or backward fill
df.reindex(['a', 'b', 'c', 'd'], method='ffill')

   PW  PWIOI
a  11     14
b  12     15
c  13     16
d  13     16

In [36]:
df.reset_index() # new column created

  index  PW  PWIOI
0     a  11     14
1     b  12     15
2     c  13     16

In [37]:
df.reset_index(drop=True, inplace=True)

In [38]:
df

   PW  PWIOI
0  11     14
1  12     15
2  13     16