In [5]:
import pandas as pd

#Example data frame

data = {
    'Course': ['AI', 'ML', 'BlockChain', 'Web devlopment', 'Cloud Computing'],
    'Duration': [2, 3, 1, 4, 5],
    'City': ['Banglore', 'Guwahati', 'Dispur', 'Dehradun', 'Nagpur']
}

df = pd.DataFrame(data)
df

            Course  Duration      City
0               AI         2  Banglore
1               ML         3  Guwahati
2       BlockChain         1    Dispur
3   Web devlopment         4  Dehradun
4  Cloud Computing         5    Nagpur

In [3]:
for i in df:
    print(i)

Corse
Duration
City

In [6]:
df['Course']

0                 AI
1                 ML
2         BlockChain
3     Web devlopment
4    Cloud Computing
Name: Course, dtype: object

In [7]:
for i in df:
    print(df[i])

0                 AI
1                 ML
2         BlockChain
3     Web devlopment
4    Cloud Computing
Name: Course, dtype: object
0    2
1    3
2    1
3    4
4    5
Name: Duration, dtype: int64
0    Banglore
1    Guwahati
2      Dispur
3    Dehradun
4      Nagpur
Name: City, dtype: object

iter tools

In [8]:
for i in df.iterrows():
    print(i)

(0, Course            AI
Duration           2
City        Banglore
Name: 0, dtype: object)
(1, Course            ML
Duration           3
City        Guwahati
Name: 1, dtype: object)
(2, Course      BlockChain
Duration             1
City            Dispur
Name: 2, dtype: object)
(3, Course      Web devlopment
Duration                 4
City              Dehradun
Name: 3, dtype: object)
(4, Course      Cloud Computing
Duration                  5
City                 Nagpur
Name: 4, dtype: object)

In [10]:
for i, j in df.iterrows():
    print(f'index {i}   \nRow value {j}')

index 0
Row value Course            AI
Duration           2
City        Banglore
Name: 0, dtype: object
index 1
Row value Course            ML
Duration           3
City        Guwahati
Name: 1, dtype: object
index 2
Row value Course      BlockChain
Duration             1
City            Dispur
Name: 2, dtype: object
index 3
Row value Course      Web devlopment
Duration                 4
City              Dehradun
Name: 3, dtype: object
index 4
Row value Course      Cloud Computing
Duration                  5
City                 Nagpur
Name: 4, dtype: object

In [11]:
for i, j in df.iterrows():
    print(f'index {i}   \nRow value {j["Course"]}')

index 0
Row value AI
index 1
Row value ML
index 2
Row value BlockChain
index 3
Row value Web devlopment
index 4
Row value Cloud Computing

In [12]:
df.itertuples()

In [13]:
for i in df.itertuples():
    print(i)

Pandas(Index=0, Course='AI', Duration=2, City='Banglore')
Pandas(Index=1, Course='ML', Duration=3, City='Guwahati')
Pandas(Index=2, Course='BlockChain', Duration=1, City='Dispur')
Pandas(Index=3, Course='Web devlopment', Duration=4, City='Dehradun')
Pandas(Index=4, Course='Cloud Computing', Duration=5, City='Nagpur')

In [16]:
for i in df.itertuples():
    print(f"index = {i.index} \nCourse: {i.Course}\n\n")

index = <built-in method index of Pandas object at 0x156f20360>
Course: AI


index = <built-in method index of Pandas object at 0x156d97830>
Course: ML


index = <built-in method index of Pandas object at 0x156d976f0>
Course: BlockChain


index = <built-in method index of Pandas object at 0x156d97830>
Course: Web devlopment


index = <built-in method index of Pandas object at 0x156d976f0>
Course: Cloud Computing

In [17]:
series = pd.Series([2,4,6,8])
series

0    2
1    4
2    6
3    8
dtype: int64

In [18]:
for i in series:
    print(i)

2
4
6
8

In [20]:
df['Course']

0                 AI
1                 ML
2         BlockChain
3     Web devlopment
4    Cloud Computing
Name: Course, dtype: object

In [19]:
for i in df['Course']:
    print(i)

AI
ML
BlockChain
Web devlopment
Cloud Computing

Conditional iteration

In [21]:
df[df['Duration'] > 2]

            Course  Duration      City
1               ML         3  Guwahati
3   Web devlopment         4  Dehradun
4  Cloud Computing         5    Nagpur

In [22]:
for i, j in df[df['Duration'] > 2].iterrows():
    print(f'index {i}   \nRow value {j["Course"]}')

index 1
Row value ML
index 3
Row value Web devlopment
index 4
Row value Cloud Computing