In [1]:
import pandas as pd
# creating a Dataframe with Text Data
data = {'Text':['Hello, how are you?', 'Pandas is great', 'Text data handling is pandas is useful']}
df = pd.DataFrame(data)
print(df)

                                     Text
0                     Hello, how are you?
1                         Pandas is great
2  Text data handling is pandas is useful

In [2]:
df['Lower'] = df['Text'].str.lower()
df

,Text,Lower
0,"Hello, how are you?","hello, how are you?"
1,Pandas is great,pandas is great
2,Text data handling is pandas is useful,text data handling is pandas is useful

In [3]:
df['Upper'] = df['Text'].str.upper()
df

,Text,Lower,Upper
0,"Hello, how are you?","hello, how are you?","HELLO, HOW ARE YOU?"
1,Pandas is great,pandas is great,PANDAS IS GREAT
2,Text data handling is pandas is useful,text data handling is pandas is useful,TEXT DATA HANDLING IS PANDAS IS USEFUL

In [5]:
df['Length'] = df['Text'].str.len()
df

,Text,Lower,Upper,Length
0,"Hello, how are you?","hello, how are you?","HELLO, HOW ARE YOU?",19
1,Pandas is great,pandas is great,PANDAS IS GREAT,15
2,Text data handling is pandas is useful,text data handling is pandas is useful,TEXT DATA HANDLING IS PANDAS IS USEFUL,38

In [6]:
df['Words'] = df['Text'].str.split()
df

,Text,Lower,Upper,Length,Words
0,"Hello, how are you?","hello, how are you?","HELLO, HOW ARE YOU?",19,"[Hello,, how, are, you?]"
1,Pandas is great,pandas is great,PANDAS IS GREAT,15,"[Pandas, is, great]"
2,Text data handling is pandas is useful,text data handling is pandas is useful,TEXT DATA HANDLING IS PANDAS IS USEFUL,38,"[Text, data, handling, is, pandas, is, useful]"

In [7]:
data = {'Text':['Hello, how are you?', 'Pandas is great', 'Text data handling is Pandas is useful']}
df2 = pd.DataFrame(data)
df2

                                     Text
0                     Hello, how are you?
1                         Pandas is great
2  Text data handling is pandas is useful

## Extracting words starting with p

In [9]:
df2['Text'][1].startswith('P')

True

In [10]:
df2['Text'].str.split().apply(lambda x : [word for word in x if word.startswith('P')])

0          []
1    [Pandas]
2          []
Name: Text, dtype: object