In [1]:
import pandas as pd
# creating a Dataframe with Text Data
data = {'Text':['Hello, how are you?', 'Pandas is great', 'Text data handling is pandas is useful']}
df = pd.DataFrame(data)
print(df)

                                     Text
0                     Hello, how are you?
1                         Pandas is great
2  Text data handling is pandas is useful

In [2]:
df['Lower'] = df['Text'].str.lower()
df

,Text,Lower
0,"Hello, how are you?","hello, how are you?"
1,Pandas is great,pandas is great
2,Text data handling is pandas is useful,text data handling is pandas is useful

In [3]:
df['Upper'] = df['Text'].str.upper()
df

,Text,Lower,Upper
0,"Hello, how are you?","hello, how are you?","HELLO, HOW ARE YOU?"
1,Pandas is great,pandas is great,PANDAS IS GREAT
2,Text data handling is pandas is useful,text data handling is pandas is useful,TEXT DATA HANDLING IS PANDAS IS USEFUL

In [5]:
df['Length'] = df['Text'].str.len()
df

,Text,Lower,Upper,Length
0,"Hello, how are you?","hello, how are you?","HELLO, HOW ARE YOU?",19
1,Pandas is great,pandas is great,PANDAS IS GREAT,15
2,Text data handling is pandas is useful,text data handling is pandas is useful,TEXT DATA HANDLING IS PANDAS IS USEFUL,38

In [6]:
df['Words'] = df['Text'].str.split()
df

,Text,Lower,Upper,Length,Words
0,"Hello, how are you?","hello, how are you?","HELLO, HOW ARE YOU?",19,"[Hello,, how, are, you?]"
1,Pandas is great,pandas is great,PANDAS IS GREAT,15,"[Pandas, is, great]"
2,Text data handling is pandas is useful,text data handling is pandas is useful,TEXT DATA HANDLING IS PANDAS IS USEFUL,38,"[Text, data, handling, is, pandas, is, useful]"

In [48]:
data = {'Text':['Hello, how are you?', 'Pandas is great', 'Text data handling is Pandas is useful']}
df2 = pd.DataFrame(data)
df2

                                     Text
0                     Hello, how are you?
1                         Pandas is great
2  Text data handling is Pandas is useful

## Extracting words starting with p

In [49]:
df2['Text'][1].startswith('P')

True

In [50]:
df2['P_Words'] = df2['Text'].str.split().apply(lambda x : [word for word in x if word.startswith('P')])
df2

                                     Text   P_Words
0                     Hello, how are you?        []
1                         Pandas is great  [Pandas]
2  Text data handling is Pandas is useful  [Pandas]

In [51]:
df2.columns

Index(['Text', 'P_Words'], dtype='object')

In [52]:
new_df = pd.DataFrame({'Text':[None], 'P_Words':[None]})
new_df

   Text P_Words
0  None    None

In [54]:
df2 = pd.concat([df2, new_df])
df2

                                     Text   P_Words
0                     Hello, how are you?        []
1                         Pandas is great  [Pandas]
2  Text data handling is Pandas is useful  [Pandas]
0                                    None      None
0                                    None      None

In [55]:
df2.reset_index(inplace=True,drop=True)
df2

                                     Text   P_Words
0                     Hello, how are you?        []
1                         Pandas is great  [Pandas]
2  Text data handling is Pandas is useful  [Pandas]
3                                    None      None
4                                    None      None

In [56]:
df2['Text'].fillna('No Text available', inplace=True)
df2

/var/folders/9b/9j5pm34957b9x26pykq_gxcm0000gn/T/ipykernel_11550/3441243628.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df2['Text'].fillna('No Text available', inplace=True)

                                     Text   P_Words
0                     Hello, how are you?        []
1                         Pandas is great  [Pandas]
2  Text data handling is Pandas is useful  [Pandas]
3                       No Text available      None
4                       No Text available      None

In [57]:
df2.drop_duplicates(subset='Text') # drop on basis of single column

                                     Text   P_Words
0                     Hello, how are you?        []
1                         Pandas is great  [Pandas]
2  Text data handling is Pandas is useful  [Pandas]
3                       No Text available      None

In [58]:
df2['Normalized'] = df2['Text'].str.lower()
df2

,Text,P_Words,Normalized
0,"Hello, how are you?",[],"hello, how are you?"
1,Pandas is great,[Pandas],pandas is great
2,Text data handling is Pandas is useful,[Pandas],text data handling is pandas is useful
3,No Text available,None,no text available
4,No Text available,None,no text available

In [59]:
data = {'book_title' : ['The great gatsby', 'To kill a mockingBird', '1984', 'Pride and prejudice']}
df = pd.DataFrame(data)
df

              book_title
0       The great gatsby
1  To kill a mockingBird
2                   1984
3    Pride and prejudice

In [60]:
df.sort_values(by = 'book_title')

              book_title
2                   1984
3    Pride and prejudice
0       The great gatsby
1  To kill a mockingBird

In [62]:
# capitalize first letter
data = {'book_title' : ['the great gatsby', 'to kill a mockingBird', '1984', 'pride and prejudice']}
df = pd.DataFrame(data)
df

              book_title
0       the great gatsby
1  to kill a mockingBird
2                   1984
3    pride and prejudice

In [63]:
df['letter_capitalized'] = df['book_title'].str.capitalize()
df

              book_title     letter_capitalized
0       the great gatsby       The great gatsby
1  to kill a mockingBird  To kill a mockingbird
2                   1984                   1984
3    pride and prejudice    Pride and prejudice