In [1]:
import mysql.connector
connection = mysql.connector.connect(host = "localhost", database = "chaiDB", user = "chai", password = "chai")
cursor = connection.cursor() # helps to run queries
cursor.execute('show databases')
results = cursor.fetchall()
cursor.close() # must after fetching result

True

In [2]:
print(results)

[('chaiDB',), ('information_schema',), ('performance_schema',)]

In [3]:
import pandas as pd
df = pd.DataFrame(results)
df.head()

                    0
0              chaiDB
1  information_schema
2  performance_schema